#button {
  background-color: lightseagreen;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
}

.textbox {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
  width: 200px;
  box-sizing: border-box;
  text-decoration: none;
}

#title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
